* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-color: rgba(34, 49, 52, 0.5);
    background: url(src/hero.jpg) no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    font-size: 45px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .started {
    background-color: cadetblue;
    margin-top: 50px;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }

  .logo {
    height: 65px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .header-right .login {
    background-color: cadetblue;
  }
  
  .header-right .login:hover {
    background-color: rgb(174, 249, 252, 0.3);
  }

  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }

  .destination-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
    margin-bottom: 100px;
    height: 577px;
  }

  .destination-image {
    position: relative;
    height: 332px;
    margin: 10px 10px;
    background-size: cover;
    
}

  button {
      position: relative;
      padding: 12px 24px;
      color: white;
      display: inline-block;
      opacity: 0.8;
      border-radius: 4px;
      text-align: center;
      background-color: tomato;
      border: none;
      top: 80%;
  }

  button:hover {
    opacity: 1;
  }

 

  .destination {
    float: left;
    width: 25%;
  }

  .destination-image p {
      color: white;
      text-shadow: 2px 2px 4px #000000;
      position: absolute;
      width: 100%;
  }
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: cadetblue;
    cursor: pointer;
    box-shadow: 0 7px rgb(63, 106, 109);
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .container img {
    height: 65px;
    width: auto;
  }